@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    padding: 0 .5rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 275;
    font-style: normal;
}

ul,
ol {
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

:root {
    --primary-color: rgb(245, 197, 52);
    --secondary-color: rgb(97, 10, 97);
    --xs-margin: 10vw;
}

body {
    font-family: 'Playwrite CU', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0 var(--xs-margin);
}

header nav.mobile {}

header nav.mobile .hamburger {
    display: block;
    cursor: pointer;
}

header nav.mobile .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

header nav.mobile .hamburger.active span:nth-child(2) {
    display: none;
}

header nav.mobile .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

header nav.mobile .hamburger span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--primary-color);
    margin: 5px;
    border-radius: 2.5px;
    /* transition: 0.4s; */
}

header nav.mobile ul {
    display: none;
}

header nav.mobile ul.show {
    display: initial;
}

header nav.desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    header nav.mobile {
        display: none;
    }

    header nav.desktop {
        display: block;
    }

    header nav ul {
        /* display: grid;
        gap: 0;
        grid-template-columns: 1fr 1fr 1fr; */
        display: inline-block;
    }

    header nav ul li {
        display: inline-block;
    }

    header nav ul li a {
        color: var(--primary-color);
        text-decoration: none;
        padding: 0.5rem;
    }

    header nav ul li a:hover,
    header nav ul li a.active {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}


main {
    padding: var(--xs-margin);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }

    main>section {
        display: grid;
        gap: 5rem;
        grid-template-columns: 2fr 1fr;
    }

    main>section:nth-child(even) {
        grid-template-columns: 1fr 2fr;
    }


    main>section:nth-child(even) .detail {
        order: 2;
    }

    .project.detail h2 {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        font-size: 2rem;
        padding-left: .5rem;
        margin-bottom: 0.5rem;
    }

    .project.detail p {
        padding: 0 .5rem;
    }

    .project.images ol {
        gap: 0.25rem;
    }
}

@media screen and (min-width: 1280px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

}

main section {}