@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

:root {
    --primary-color: rgb(245, 197, 52);
    --secondary-color: rgb(97, 10, 97);
    --xs-margin: 10vw;
}

body {
    font-family: 'Playwrite CU', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0 var(--xs-margin);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

header nav ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

}

header nav ul li a {
    color: var(--primary-color);
}

main {
    padding: var(--xs-margin);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }

    main>section {
        display: grid;
        gap: 5rem;
        grid-template-columns: 2fr 1fr;
    }

    main>section:nth-child(even) {
        grid-template-columns: 1fr 2fr;
    }


    main>section:nth-child(even) .detail {
        order: 2;
    }

    .project.detail h2 {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        font-size: 2rem;
        padding-left: .5rem;
        margin-bottom: 0.5rem;
    }

    .project.detail p {
        padding: 0 .5rem;
    }

    .project.images ol {
        gap: 0.25rem;
    }
}

@media screen and (min-width: 1280px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

}

main section {}